* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.page-bg {
    max-width: 1000px;
    min-height: 100vh;
    background: url("images/bg.png") no-repeat top center / cover;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

ul {
    padding: 0;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: sticky;
    top: 20px;
    background-color: #f7f7f7;
    z-index: 1;
    margin-bottom: 40px;
}

.logo__container {
    border: 1px solid red;
}

.navbar {
    padding: 0;
}

#navbarNav {
    padding: 0;
    margin: 0;
}

.navbar__list {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    padding: 0 !important;
    margin: 0;
}

.link,
.book {
    color: black;
    text-decoration: none;
    padding: 0 1px;
    margin: 0 !important;
    font-size: 16px;
    transition: all 0.5;
}

.link:hover,
.book:hover,
.partie__link:hover {
    color: burlywood;
    text-decoration: underline;
}

.navbar-toggler {
    margin-bottom: 15px;
}

.fa-bars {
    display: none;
}

.navbar-toggler {
    display: none;
}

.navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.chap__blocks {
    scroll-margin-top: 100px;
}

/*Fin du header pour le 05/11/2025*/
/*Le debut du code de la section hero*/

main {
    z-index: 0;
}

main {
    padding: 20px;
}

.color-burlywood {
    color: burlywood;
    font-weight: 700;
}

.blocks-bg {
    background-color: #f7f7f7;
    opacity: 0.7;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.book__items {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.book {
    font-size: 19px;
    color: rgb(29, 61, 87);
}

.book:hover,
.partie__link:hover {
    transform: scaleY(1.3);
}

.book__item {
    display: flex;
    flex-direction: column;
}

.slogan {
    font-style: italic;
    margin-left: 12px;
    color: rgb(116, 92, 61);
    font-family: "Playfair Display", serif;
}

.read__more {
    text-align: end;
}

.read__more-link {
    display: inline-block;
    padding: 12px;
    color: white;
    background-color: rgb(235, 175, 96);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.5s;
}

.read__more-link:hover {
    color: rgb(54, 53, 53);
    font-size: 18.3px;
    font-weight: 500;
}

.presatation {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}

.second__block {
    display: flex;
    width: 90%;
}

.livre-img {
    display: block;
    width: 100%;
}

.lecture__block {
    display: flex;
    justify-content: space-between;
}

.chapitre__text {
    width: 80%;
}

.partie__lists {
    width: 40%;
    background-color: rgb(35, 47, 59);
    padding: 15px;
}

.chap__blocks {
    overflow-y: scroll;
    height: 400px;
    padding: 20px;
    color: rgb(22, 28, 39);
    font-size: 18px;
    line-height: 25px;
}

.list {
    gap: 75px;
    display: flex;
    flex-direction: column;
}

.sommaire__list {
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.partie__item {
    display: flex;
}

.partie__link {
    font-size: 22px;
    color: rgb(238, 239, 240);
    transition: all 0.5s;
}

form {
    background: white;
    padding: 40px 20px 40px 20px;
    margin-bottom: 25px;
}

.contact__title {
    margin-bottom: 40px;
}

.first__infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}

.first__infos input,
.second__infos input {
    height: 45px;
    font-size: 20px;
}

.prenom__info {
    width: 58%;
}

.nom__info {
    width: 38%;
}

.nom__info input {
    width: 100%;
}

.prenom__info input {
    width: 100%;
}

label {
    display: block;
    font-size: 18px;
    font-weight: 500;
}

textarea {
    width: 100%;
    margin-bottom: 30px;
}

.second__infos {
    padding: 0;
}

.email {
    margin-bottom: 30px;
}

.second__infos input {
    width: 100%;
}

.send__btn{
    display: block;
    width: 380px !important;
    margin: auto;
}

footer {
    padding: 30px;
    background-color: #f7f7f7;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px;
}

.dialogue__paragraphe {
    display: flex;
    flex-direction: column;
}

.header__boton {
    font-size: 28px;
    color: black;
    display: flex;
}

.header__boton a {
    color: inherit;
}

.fa-arrow-up {
    transition: all 0.5s;
}

.fa-arrow-up:hover {
    transform: translateY(-15px) scale(0.9);
}

address {
    margin: 0;
    width: 90%;
    text-align: center;
}

@media screen and (max-width: 500px) {

    .partie__link {
        font-size: 25px;
        font-weight: 500;
    }

    .lecture__block {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .chapitre__text {
        width: 100%;
    }

    .partie__lists {
        width: 100%;
        background-color: rgb(35, 47, 59);
        padding: 20px;
    }

    .list {
        gap: 15px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 580px) {

    .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        display: none !important;
    }

    .navbar-collapse.show {
        display: flex !important;
        padding: 10px;
    }

    .navbar {
        flex-direction: column;
        justify-content: flex-end;
    }

    .navbar__list {
        flex-direction: column;
    }

    .link {
        border: 1px solid rgb(218, 216, 216);
        display: block;
    }

    .link:hover {
        border: 1px solid;
    }

    .send__btn{
    display: block;
    width: 100% !important;
    margin: auto;
}
}


@media screen and (max-width: 730px) {
    .second__block {
        display: none;
    }
}